@use "sass:color";

body *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dragwyb-editor{
    // Variables
--primary-color: #4f46e5;
--primary-light-color: #e0e7ff;
--primary-hover-color: #4338ca;
--secondary-color: #6b7280;
--secondary-hover-color: #374151;
// --primary-color: #2271b1;
--secondary-color: #1d2327;
--border-color: #e1e7ef;
--background-color: #f0f0f1;
--success-color: #00a32a;
--error-color: #d63638;

--topbar-bg-color: #0a2131;
--sidebar-bg-color: #052033;
--canvas-bg-color: #081726;
--canvas-inner-clor: #fff;
--panel-width: 300px;

--cubic-transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

// Mixins
@mixin button {
    padding: 8px 12px;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    transition: all 0.2s ease;
    border-radius: 4px;
    color: white;

    &:hover,
    &.active {
        background: var(--primary-light-color);
        color: var(--primary-color);
        border-color: var(--primary-color);
    }

    &.primary {
        background: var(--primary-color);
        color: #fff;
        border-color: var(--primary-color);

        &:hover {
            background: var(--primary-hover-color);
        }
    }

    &.secondary {
        color: var(--secondary-hover-color);
        background: #e5e7eb;
        border-color: #e5e7eb;

        &:hover {
            background: #d1d5db;
        }
    }
}

body {
    &.dragwyb-form_page_dragwyb-form-builder {
        #adminmenumain,
        #wpadminbar {
            display: none !important;
        }
    }

    * {
        margin: 0;
        padding: 0;
        line-height: 1;
    }
}

.dragwyb-button {
    @include button;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;
    box-sizing: border-box;
}

.dragwyb-search-input {
    position: relative;

    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        cursor: pointer;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;

        i {
            transform: unset;
            position: unset;
        }
    }

    input {
        width: 100%;
        border-color: var(--primary-light-color);
        box-shadow: unset;
        outline-color: var(--primary-light-color);
        transition: all .3s ease-in-out;
        padding-inline: 2rem;

        &:focus,
        &:hover {
            border-color: var(--primary-color);
            box-shadow: unset;
            outline-color: var(--primary-color);
        }

        &:focus {
            outline-width: 1px;
        }
    }

    button {
        position: absolute;
        right: 10px;
        top: 50%;
        border: unset;
        outline: unset;
        box-shadow: unset;
        background: transparent;
        transform: translateY(-50%);
    }
}

// Editor Layout
.dragwyb-editor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-color);
    z-index: 999;
    display: flex;
    flex-direction: column;

    .ui-resizable-handle{
        position: absolute;
        cursor: ew-resize;
        height: 100%;
        top: 0;
        width: 10px;
        right: -5px;
    }

    &__header {
        background: var(--topbar-bg-color);
        border-bottom: 1px solid var(--border-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        color: #fff;
    }

    &__details {
        display: flex;
        align-items: end;
        justify-content: center;
        
        h2 {
            color: #fff;
            font-size: 20px;
        }
    }

    &__title {
        margin: 0 5px 0 1.2rem;

        h2 {
            color: #fff;
        }
    }

    &__status {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 5px;

        label{
            display: flex;
            align-items: center;
            gap: 5px; 
        }

        span {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;

            &[data-status="draft"] {
                background: var(--error-color);
            }

            &[data-status="public"] {
                background: var(--success-color);
            }
        }
    }

    &__tabs {
        display: flex;
        gap: 0.7rem;

        button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            line-height: 1;
        }

        i {
            margin-right: 0.5rem;
        }
    }

    // &__tab{
    //     padding: .8rem;
    //     width: 33.3%;
    //     height: 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-size: 1.3rem;
    //     text-align: center;
    //     border: 0px solid transparent;
    //     border-bottom-width: 2px;
    //     cursor: pointer;
    //     transition: all .3s ease-in-out;

    //     i{
    //         margin-right: .5rem;
    //     }
    //     &.active{
    //         border-color: var(--primary-color);
    //         color: var(--primary-color);
    //     }
    // }

    &__actions {
        display: flex;
        gap: 0.7rem;

        i {
            margin-right: .5rem;
        }

        button {
            padding: .5rem 1rem;
            font-size: 1rem;
            line-height: 1;

            &.dragwyb-preview {
                min-width: 114px;
            }
        }
    }

    &__body {
        flex: 1;
        display: flex;
        overflow: hidden;
    }

    &__sidebar {
        width: var(--panel-width);
        background: var(--sidebar-bg-color);
        border-right: 1px solid var(--border-color);
        box-sizing: border-box;
        height: 100%;
        position: relative;
    }

    &__main {
        flex: 1;
        padding: 20px;
        background: var(--canvas-bg-color);
        overflow: auto;
        max-height: 100%;
    }

    &__settings {
        width: var(--panel-width);
        background: #f1f5f9;
        height: 100%;
    }

    &__toolbar_settings{
        h1.toolbar-not-found{
            color: #fff;
            padding: 1rem;
        }
    }

    &__toolbar{
        background: var(--sidebar-bg-color);
        border-left: 1px solid var(--border-color);

        &-item{
            display: grid;
            text-align: center;
            gap: .5rem;
            padding: 0.8rem 1.3rem;
            border-bottom: 1px solid var(--border-color);
            color: #fff;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            font-size: 1rem;

            &:hover,
            &.active{
                background: var(--primary-light-color);
                color: var(--primary-color);
            }

            i{
                font-size: 1.5rem;
            }
        }
    }
}

// Canvas
.dragwyb-canvas {
    border-radius: 4px;
    padding: 20px;
    max-height: 100%;

    &-wrapper{
        width: 100%;
        height: 100%;
        min-height: 400px;
        background: var(--canvas-inner-clor);
    }

    &.canvas-empty{
        padding: 0px;
        max-height: unset;
        height: 100%;
    }

    &__empty {
        width: 100%;
        height: 100%;
        padding: 20px;

        &-wrapper{
            padding: 40px;
            text-align: center;
            font-size: 1.5rem;
            color: var(--primary-color);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: all .3s ease-in-out;

            &.drag-active{
                background-color: var(--primary-light-color);
                border: 1px dashed var(--primary-color);
            }

            P{
                margin-top: 1rem;
                font-size: 2rem;
                font-weight: 600;
                max-width: 800px;
                line-height: 1.4;
            }

            button.add-field{
                padding: .5rem 1rem;
                font-size: 1.5rem;
                // border-style: dashed;
                border-color: var(--primary-color);
                color: var(--primary-color);
                line-height: 1;
                border-radius: 40px;
                font-weight: 600;
                border-width: 2px;

                i{
                    margin-right: 0.8rem;
                }

                &:hover{
                    background: var(--primary-color);
                    color: var(--primary-light-color);
                    transform: scale(1.1);
                }
            }
        }
    }

    .dragwyb-editor-indicator {
        width: 100%;
        height: 0px;
        display: block;
        background-color: var(--primary-light-color);
        animation: indicatorVisible 150ms ease-out forwards;
      }
      
      @keyframes indicatorVisible {
        0% {
          height: 0;
          transform: scaleX(0.8);
        }
        100% {
          height: 15px;
          transform: scaleX(1);
        }
      }
      

    .field-wrapper {
        position: relative;
        padding: 15px;
        margin: 10px 0;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        background: #fff;
        transition: all 0.2s ease;

        &.dragwyb-start-drag{
            height: 0px !important;
            overflow: hidden !important;
            border: unset !important;
            opacity: 0 !important;
            padding: 0 !important;
            margin: 0 !important;
        }

        &:hover {
            border-color: var(--primary-color);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }

        &.selected {
            border-color: var(--primary-color);
            box-shadow: 0 0 0 1px var(--rimary-color);
        }

        &.dragging {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        .field-actions {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 9999;
            display: none;

            button {
                padding: 4px;
                margin-left: 4px;
                border: none;
                background: none;
                cursor: pointer;
                color: #666;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        &:hover .field-actions {
            display: flex;
        }
    }
}

// Controls
.dragwyb-controls {
    &__header {
        padding: 15px;
        border-bottom: 1px solid var(--border-color);

        h2 {
            margin: 0;
            font-size: 16px;
        }
    }

    &__search {
        padding: 15px;
    }

    &__fields {
        padding: 15px;
        display: grid;
        gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .field-type {
            transition: all 0.2s ease;
            cursor: move;
            text-align: center;
            background-color: #f9fafb;
            border: 1px solid #e5e7eb;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            padding-block: 1rem;

            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
            }

            i {
                color: var(--primary-color);
                font-size: 1.5rem;
            }

            p {
                color: var(--secondary-hover-color);
                font-weight: 500;
                font-size: 1rem;
            }
        }
    }
}

// Panel
.dragwyb-panel {
    height: 100%;

    &__header {
        padding: 15px;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            margin: 0;
            font-size: 16px;
        }

        .close-button {
            border: none;
            background: none;
            cursor: pointer;
            font-size: 20px;
            color: #666;

            &:hover {
                color: var(--error-color);
            }
        }
    }

    &__content {
        font-family: "Segoe UI", Tahoma, sans-serif;
        // background-color: #f9f9fb;
        height: calc(100% - 51px);
        
        .field-settings {
            overflow-y: auto;
            height: calc(100% - 58px);
            padding: 20px;
            width: var(--panel-width);
        }
    }
}

// Form Fields
.setting-row {
    display: flex;
    flex-direction: column;
    gap: 6px;
    
    &[data-type="popover-toggle"]{
        margin-bottom: 10px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
    }

    input[type="text"],
    input[type="number"],
    input[type="color"],
    select,
    textarea {
        padding: 6px;
        font-size: 13px;
        border: 1px solid #ccd0d4;
        border-radius: 4px;
        background: #fff;
        width: 100%;
        transition: border-color 0.2s ease;

        &:focus {
            border-color: #2271b1;
            outline: none;
        }
    }

    input[type="checkbox"] {
        margin-right: 6px;
        vertical-align: middle;
    }
}

// Notices
.dragwyb-notices {
    position: fixed;
    top: 32px;
    right: 20px;
    z-index: 9999;
}

.dragwyb-notice {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    animation: slideIn 0.3s ease;

    &.success {
        background: var(--success-color);
    }

    &.error {
        background: var(--error-color);
    }

    .notice-dismiss {
        margin-left: 10px;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

// Preview
.dragwyb-preview {
    padding: 20px;
    border-radius: 4px;

    &__form {
        max-width: 800px;
        margin: 0 auto;

        .preview-field {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: 500;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        textarea,
        select {
            width: 100%;
            padding: 8px;
            border: 1px solid var(--border-color);
            border-radius: 4px;

            &:focus {
                border-color: var(--primary-color);
                outline: none;
            }
        }

        .form-submit {
            margin-top: 20px;
            text-align: center;

            button {
                @include button;
                background: var(--primary-color);
                color: #fff;
                padding: 10px 20px;
                font-size: 16px;
            }
        }
    }
}

// Field overlay for drag
.canvas-overlay-field{
    width: 128px !important;
    height: 128px !important;
}

.dragwyb-overlay-preview {
    &.field-type {
        cursor: move;
        text-align: center;
        background-color: #f9fafb;
        border: 1px solid #e5e7eb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding-block: 1rem;
        opacity: 0.8;

        i {
            color: var(--primary-color);
            font-size: 1.5rem;
        }

        p {
            color: var(--secondary-hover-color);
            font-weight: 500;
            font-size: 1rem;
        }
    }
  }
  